@font-face {
  font-family: Cairo;
  src: url('./../fonts/Cairo-VariableFont_wght.ttf');
}

@font-face {
  font-family: BungeeShade;
  src: url('./../fonts/BungeeShade-Regular.ttf');
}

@font-face {
  font-family: ArabicNumber;
  src: url('./../fonts/arabic_number_font.otf');
}
